@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding-left: 0px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.logo{
    display: flex;
    align-items: center;
    color: #61dafb;
    
    
    padding-bottom: 5px;
}
.reactlogo{
    color: #61dafb;
    
}
.reacthome{
    list-style: none;
}


.container{

    align-items: center;
    box-sizing: border-box;
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 70px;
    
    
}
.container .navbar{
    
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.items{
    display: flex;
    
}

.items ul{
    display: flex;
    margin-right: 10px;
}
.items ul li{
    
    list-style: none;
 
}
.links{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}

.reactlhomelink{
    display: flex;
    justify-content: space-between;
    color: #61dafb;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    margin: 0px 10px;
}
.links:hover{
    color:#61dafb ;
}


input[type=search] {
    font-weight: 600;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=search]:focus {
    width: 100%;
  }
  .langlogo{
      height: 25px;
      width: 25px;
  }